<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/semantic.min.css">
  <script src="/scripts/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
</head>
<body>
    <div class="ui grid">
      <div class="computer tablet only row">
        <div class="ui inverted fixed menu navbar page grid scroll down" style="height: auto;">
          <a href="/" class="brand huge item brandIcon"><i class="circular gg icon brandIcon"></i>BloggyMan</a>
          <a href="/" class="item" style="font-size: 1.3em;">Home</a>
          <a href="/blogs/new" class="item" style="font-size: 1.3em;">New Blog</a>
          <div class="right menu">
            <a href="/signup" class="right item" style="font-size: 1.3em">SignUp</a>
            <a href="/login" class="right item" style="font-size: 1.3em">Login</a>  
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>